snippet cc "Competitive Programming Template" b
#include <bits/stdc++.h>
using namespace std;

#define int long long
#define vi vector<int>
#define all(x) (x).begin(), (x).end()
#define umap unordered_map
#define uset unordered_set
#define print(v)                                                               \
  ([&]() {                                                                     \
    int n=v.size();                                                            \
	for (int i = 0; i < n; i++) {                                              \
      cout << v[i]<<" \n"[i==n-1];                                             \
   }                                                                           \
  }())
#define scan(n)                                                                \
  ([&]() {                                                                     \
    vi v(n);                                                                   \
    for (int i = 0; i < n; i++)                                                \
      cin >> v[i];                                                             \
    return v;                                                                  \
  }())
#define ceildiv(a, b) (((a) + (b) - 1) / (b))
#define yes() cout<<"YES"<<nl 
#define no() cout<<"NO"<<nl 
#ifndef ONLINE_JUDGE
#define debug(x) cerr << #x << " = " << x << nl;
#define vdebug(a) cout << #a << " = "; for(auto x: a) cout << x << sp; cout << nl;
#else
#define debug(x)
#define vdebug(a)
#endif
const char nl = '\n';
const char sp = ' ';
void solve();

int32_t main() {
    ios::sync_with_stdio(0);
    cin.tie(0);
    int test = 1;
    cin >> test;
    while (test--) {
        solve();
    }
    return 0;
}

void solve() {
	${0}
}

endsnippet


snippet ccyn "Competitive Programming Template" b
#include <bits/stdc++.h>
using namespace std;

#define int int64_t
#define vi vector<int64_t>
#define all(x) (x).begin(), (x).end()
#define scan inputVector<int64_t>
#define mod 1000000007
const char nl = '\n';
const char sp = ' ';

void solve();
void yes(){cout<<"YES"<<nl;}
void no(){cout<<"NO"<<nl;}
template <typename T>
vector<T> inputVector(int n) {
    vector<T> v(n);
    for (int i = 0; i < n; i++) {
        cin >> v[i];
    }
    return v;
}

int32_t main() {
    ios::sync_with_stdio(0);
    cin.tie(0);
    int test = 1;
    cin >> test;
    while (test--) {
        solve();
    }
    return 0;
}

void solve() {
	${0}
}
endsnippet
snippet cv "Competitive Programming Template With Class" b
#include <bits/stdc++.h>
using namespace std;

#define int int64_t
#define vi vector<int64_t>
#define all(x) (x).begin(), (x).end()
#define scan inputVector<int64_t>
#define mod 1000000007
const char nl = '\n';
const char sp = ' ';

template <typename T>
vector<T> inputVector(int n) {
    vector<T> v(n);
    for (int i = 0; i < n; i++) {
        cin >> v[i];
    }
    return v;
}

class Solution {
	public:
	void solve() {
		${0}
	}
};

int32_t main() {
    ios::sync_with_stdio(0);
    cin.tie(0);
    int test = 1;
    cin >> test;
	Solution obj;
    while (test--) {
        obj.solve();
    }
    return 0;
}
endsnippet



